name: Python CI


on:
  - push
  - pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Check out repository code
        uses: action/checkout@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          make install
      - name: Run linter
        run: |
          make lint
